nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 241, 229);
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: space-between;
}